
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">


    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Họ và tên: Chung Trịnh</p>
    <p>Điện thoại: 
        <a href="tel:0978611889">0978611889</a>
    </p>
    <p>
        Email:

        <a href="mailto:chungtrinhj@gmail.com" title="chungtrinhj@gmail.com">
            chungtrinhj@gmail.com
        </a>
    </p>
</div>
