<footer class="border-top footer text-muted bg-danger ">
    <div class="container">
        &copy; 2025 - TvcDay04Layout - 
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>